body{
  background-color:  #02010a;
  font-family: DancingScript-Regular;
}

@font-face {
  font-family: 'DancingScript-Regular';
  src: url('../tipografia/DancingScript-Regular.ttf');

}

.Cabecera{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  width: 70%;
  margin-left: 15%;
}

.Titulo{
  display: inline-block;
  color: White;
  text-shadow: 2px 2px #02010a;
  margin-left: 3%;
}

#menu_nav{
  display: inline-flex;
  margin-left: 35%;
}

nav > a{
  color: White;
}

.img_1{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #82c3a6;
  width: 70%;
  margin-left: 15%;

}

.img_1 img{
  width: 60%;
}

#seccion_2 .img_contenedor{

    width: 70%;
    display: inline-block;
    text-align: center;
    background-color: #d5c75f;
    border: 1px;
    margin-left: 15%;
}

#seccion_2 .img_contenedor .img_2{
  display: inline-block;
  width: 34%;
}

#seccion_2 .img_contenedor .img_2 img{
  width: 100%;
}

#seccion_2 .img_contenedor #sec_img img:hover{
  transform: rotate(10deg);
  transition: transform 1.5s;

}
#seccion_2 .img_contenedor #sec_img img{
  box-shadow:2px 2px #82c3a6;
  border: 2px solid black;
}

#seccion_2 .img_contenedor #ter_img img{
  box-shadow:2px 2px #82c3a6;
  border: 2px solid black;
}

#seccion_2 .img_contenedor #ter_img img:hover{
  transform: translate(20px, -5px);
  transition: transform 1.5s;
}
footer{
  width: 70%;
  margin-left: 15%;
}

.footer_content{
  background-color: #C6d5c5;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}

.footer_element{
  display: inline-block;
  width: 20%;
  text-align: center;
  vertical-align: top;
  margin-left: 2%;
}
