body{
  background-color:  #02010a;
}

.Cabecera{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
}

.Titulo{
  display: inline-block;
  color: White;
  text-shadow: 2px 2px #02010a;
}

#menu_nav{
  display: inline-flex;
  margin-left: 55%;
}

nav > a{
  color: White;
}

.img_1{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #82c3a6;
  width: 70%;
  margin-left: 15%;

}

.img_1 img{
  width: 50%;
}
